<div class="ui padded grid">
  <div class="five column row">
    <div class="blue column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>{{station.name}}</h3>
          Lat: {{station.latitude}}<br>
          Lng: {{station.longitude}}<br>
        </div>
        <div class="right floated center aligned column">
          <i class="teal marker huge icon"></i>
        </div>
      </div>
    </div>
    <div class="teal column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Weather</h3>
          {{stationSummary.weather.[0]}}<br>
        </div>
        <div class="right floated center aligned column">
          <i class="olive {{stationSummary.weather.[1]}} huge icon"></i>
        </div>
      </div>
    </div>
    <div class="blue column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Temperature</h3>
          {{stationSummary.temperature}} °C<br>
          {{stationSummary.fahrenheit}} °F<br>
          {{stationSummary.minTemp}}<br>
          {{stationSummary.maxTemp}}
        </div>
        <div class="right floated center aligned column">
          <i class="teal temperature low huge icon"></i><br><br>
          <i class="teal big arrow ${utils.StationUtil.trend('temperature', _station)} icon"></i>
        </div>
      </div>
    </div>
    <div class="teal column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Wind</h3>
            {{stationSummary.beaufort}} bft<br>
            {{stationSummary.direction}}<br>
            Feels like: {{stationSummary.feelsLike}} °C<br>
            {{stationSummary.minWindSpeed}}<br>
            {{stationSummary.maxWindSpeed}}
        </div>
        <div class="right floated center aligned column">
          <i class="olive wind huge icon"></i><br><br>
          <i class="olive big arrow ${utils.StationUtil.trend('windSpeed', _station)} icon"></i>
        </div>
      </div>
    </div>
    <div class="blue column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Pressure</h3>
            {{stationSummary.pressure}} hPa<br>
            {{stationSummary.minPressure}}<br>
            {{stationSummary.maxPressure}}
        </div>
        <div class="right floated center aligned column">
          <i class="right teal huge sun outline loading icon"></i><br><br>
          <i class="teal big arrow ${utils.StationUtil.trend('pressure', _station)} icon"></i></div>
      </div>
    </div>
  </div>
</div>