<div class="ui padded grid">
  <div class="five column row">
    <div class="blue column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>{{name}}</h3>
          Lat: {{floatFix latitude}}<br>
          Lng: {{floatFix longitude}}<br>
        </div>
        <div class="right floated center aligned column">
          <i class="teal marker huge icon"></i>
        </div>
      </div>
    </div>
    <div class="teal column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Weather</h3>
          {{weather.[0]}}<br>
        </div>
        <div class="right floated center aligned column">
          <i class="olive {{weather.[1]}} huge icon"></i>
        </div>
      </div>
    </div>
    <div class="blue column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Temperature</h3>
          {{latestTemp}} °C<br>
          {{floatFix fahrenheit}} °F<br>
          {{minTemp}}<br>
          {{maxTemp}}
        </div>
        <div class="right floated center aligned column">
          <i class="teal temperature low huge icon"></i><br><br>
          <i class="teal big arrow {{tempIcon}} icon"></i>
        </div>
      </div>
    </div>
    <div class="teal column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Wind</h3>
            {{beaufort}} bft<br>
            {{directionLabel}}<br>
            Feels like: {{feelsLike}} °C<br>
            {{minWind}}<br>
            {{maxWind}}
        </div>
        <div class="right floated center aligned column">
          <i class="olive wind huge icon"></i><br><br>
          <i class="olive big arrow {{windIcon}} icon"></i>
        </div>
      </div>
    </div>
    <div class="blue column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Pressure</h3>
            {{latestPressure}} hPa<br>
            {{minPressure}}<br>
            {{maxPressure}}
        </div>
        <div class="right floated center aligned column">
          <i class="right teal huge sun outline loading icon"></i><br><br>
          <i class="teal big arrow {{pressureIcon}} icon"></i></div>
      </div>
    </div>
  </div>
</div>