<div class="ui padded grid">
  <div class="five column row">
    <div class="blue column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>{{name}}</h3>
          Lat: {{latitude}}<br>
          Lng: {{longitude}}<br>
        </div>
        <div class="right floated center aligned column">
          <i class="teal marker huge icon"></i>
        </div>
      </div>
    </div>
    <div class="teal column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Weather</h3>
          {{weather.[0]}}<br>
        </div>
        <div class="right floated center aligned column">
          <i class="olive {{weather.[1]}} huge icon"></i>
        </div>
      </div>
    </div>
    <div class="blue column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Temperature</h3>
          {{temperature}} °C<br>
          {{fahrenheit}} °F<br>
          {{minTemperature}}<br>
          {{maxTemperature}}
        </div>
        <div class="right floated center aligned column">
          <i class="teal temperature low huge icon"></i><br><br>
          <i class="teal big arrow {{temperatureTrend}} icon"></i>
        </div>
      </div>
    </div>
    <div class="teal column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Wind</h3>
            {{beaufort}} bft<br>
            {{direction}}<br>
            Feels like: {{feelsLike}} °C<br>
            {{minWindSpeed}}<br>
            {{maxWindSpeed}}
        </div>
        <div class="right floated center aligned column">
          <i class="olive wind huge icon"></i><br><br>
          <i class="olive big arrow {{windTrend}} icon"></i>
        </div>
      </div>
    </div>
    <div class="blue column">
      <div class="ui equal width grid">
        <div class="left floated left aligned column">
          <h3>Pressure</h3>
            {{pressure}} hPa<br>
            {{minPressure}}<br>
            {{maxPressure}}
        </div>
        <div class="right floated center aligned column">
          <i class="right teal huge sun outline loading icon"></i><br><br>
          <i class="teal big arrow {{pressureTrend}} icon"></i></div>
      </div>
    </div>
  </div>
</div>