<table class="ui celled table">
  <thead>
    <tr>
    <th> Code </th>
    <th> Temp </th>
    <th> Wind Speed </th>
    <th> Wind Direction </th>
    <th> Pressure </th>
    </tr>  </thead>
  <tbody>
    <tr>
    <td> {{reading.code}}   </td>
    <td> {{reading.temperature}} </td>
    <td> {{reading.windSpeed}} </td>
    <td> {{reading.windDirection}} </td>
    <td> {{reading.pressure}} </td>
    </tr>
  </tbody>
</table>

<form class="ui stacked segment form" action="/st/generatereading" method="POST">
  <button class="ui blue button">Submit Report</button>
</form>